@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.nav {
	overflow: hidden;
	background-color: #1ABC9C;
	padding: 10px;
	margin-bottom: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1ABC9C;
  color: white;
  text-align: center;
	padding: 10px;
}

#text {
	white-space: normal;
}

#instructions {
	text-align: center;
}